<div class="container"  height=60px>
    <div id="Footer">
      <h1  style="text-align:center">ATN SHOP INFORMATION and FAQ</h1>
      <footer>
        <a href="" class="_2TLzdl" title="" style="text-align:center">Chăm sóc khách hàng</a>
        <p>Author: Huynh Văn Hoàng Sang <br>
        <a href="" >fb.com</a></p>
        <p>Contact: 0987654321<br>Address: 123 example, city</p>
      </footer>
    </div>
</div>
