<head>
    <meta charset="utf-8">
    <title>{{title}} - {{subpage}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<style>
    #grad1 {
        background-size: auto;
        height: 720px;
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient( lightyellow,lightgreen);
      }
      ul {
        list-style-type: none;
      }
      
      #Products img {
        display: block;
        text-align: right;
      }
      
      #Products{
        position:absolute;
        float:right;
        margin-top: 10px;
      }
      #Products li {
         display: block;
         float: left;
         width: 219px;
         height: 220px;
         text-align: center;
         list-style-type: none;
      }
      
      #Footer div{
        background-color:inherit;
      }
      html {
        scroll-behavior: smooth;
      }

       * {box-sizing: border-box}
       

/*SIGN IN FORM*/
        input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
        }
        input[type=text]:focus, input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }
        hr {
          border: 1px solid #f1f1f1;
          margin-bottom: 25px;
        }html {
        scroll-behavior: smooth;
      }
        #Logbut button {
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }
        button:hover {
          opacity:1;
        }
        .cancelbtn {
          padding: 14px 20px;
          background-color: #f44336;
        }
        .cancelbtn, .signupbtn {
          float: left;
          width: 50%;
        }
        .container {
          padding: 16px;
        }
        .clearfix::after {
          content: "";
          clear: both;
          display: table;
        }
        @media screen and (max-width: 300px) {
          .cancelbtn, .signupbtn {
            width: 100%;
          }
        }
        label, p{
          color:black;
        }
        .footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}
    .addproductbtn {
            width: 100%;
            border: none;
            background-color: #DC143C;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
        .addproductbtn:hover {
            background-color: #ddd;
            color: black;
        }
            #btnex{
            display: block;
            width: 100%;
            border: none;
            background-color: #DC143C;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }  
        #btnex:hover {
            background-color: #ddd;
            color: black;
        }
</style>
