<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}
    <main>
<!--Slide anh-->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="lego.jpg" alt="Los Angeles" style="margin:auto;width:1920px;height:300px">
              </div>

              <div class="item">
                <img src="robot.jpg" alt="Chicago" style="margin:auto;width:1920px;height:300px">
              </div>

              <div class="item">
                <img src="spinner.jpg" alt="New York" style="margin:auto;width:1920px;height:300px">
              </div>

              <div class="item">
                <img src="vehicles.jpg" alt="VN" style="margin:auto;width:1920px;height:300px">
              </div>

              <div class="item">
                <img src="10.jpg" alt="China" style="margin:auto;width:1920px;height:300px">
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    <div id="grad1">
<!--Jacket,Pants,etc.-->
  <div class="row">
<!--Product Center-->
          <div id="Products" class="col-sm-14">
            <ul>
                <form method="get" action="\product">
                <li><button id="SetToys" type="submit"><img src="6.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">PC</li></button>
                <li><button id="SetToys" type="submit"><img src="6a.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Keyboard</li></button>
                <li><button id="SetToys" type="submit"><img src="6b.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Logitech G102 Lightsync</li></button>
                <li><button id="SetToys" type="submit"><img src="6c.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Gaming Noble Chair Hero</li></button>
                <li><button id="SetToys" type="submit"><img src="6d.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Steelseries Rival 3</li></button>
                <li><button id="SetToys" type="submit"><img src="6e.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Corsair Harpoon RGB Wireless</li></button>
                <li><button id="SetToys" type="submit"><img src="6f.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">HyperX Cloud II RED</li></button>
                <li><button id="SetToys" type="submit"><img src="6g.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Thonet Vander HOCH BT™</li></button>
                <li><button id="SetToys" type="submit"><img src="6h.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">PS5 DualSense</li></button>
                <li><button id="SetToys" type="submit"><img src="6i.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Sony Playstation 5 Standard</li></button>
                <li><button id="SetToys" type="submit"><img src="6j.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Acer R241YB 24" IPS 75Hz</li></button>
                <li><button id="SetToys" type="submit"><img src="6k.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Samsung LC34G55 34" 2K</li></button>
                <li><button id="SetToys" type="submit"><img src="6l.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">LEADTEK WinFast RTX™ 3060</li></button>
                <li><button id="SetToys" type="submit"><img src="6m.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Corsair Vengeance RGB PRO</li></button>
                <li><button id="SetToys" type="submit"><img src="6n.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Case Cougar GEMINI S Iron</li></button>
                <li><button id="SetToys" type="submit"><img src="6o.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Cooler Master MASTERAIR</li></button>
                <li><button id="SetToys" type="submit"><img src="6p.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Deepcool Gamer Storm DQ750</li></button>
                <li><button id="SetToys" type="submit"><img src="6q.jpg" alt="1.jpg" style="width:180px;height:180px;margin-top:2px">Acer Aspire 3</li></button>
                </form>
            </ul>
            </div>
      </div>
      
    </div>
    </main>
    
{{>footer}}
    
</body>

</html>