     <!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}
<style>
body{background-image: url("shopping.jpg");
	 background-size: cover;
}
</style>
<body>
    {{>header  title=this.title}}

    <main>
      <ol>
            <div id="producttop"class="container" style="margin-top: 60px;">
            <h1 style="text-align: center;">{{title}}</h1>
            <form method="get" action="\product\new">
                <button class="addproductbtn" type="submit">Add a new product</button>
                <br>
                <br>
                <button id="btnex" type="button" class="block">Delete product</button>
                <br>
                <button id="btnex" type="button" class="block">Edit product</button>
            </form>
        </ol>
    </main>
    

    {{>footer}}
</body>

</html>
