<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}
<style>
body{background-image: url("Background1.jpg");
	 background-size: cover;
}
</style>
<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
        
    </main>
    

    {{>footer}}
</body>

</html>